@import "client/plugins/vuetify/default-preset/preset/variables";
$body-font-family:'Ubuntu';
$grey-header-font: #6e7491;
$black-font: #222222;
$dark-blue: #07166c;
$grey-font: #7c8db0;
$lightblue: #05a4e1;
$dark-grey: #696969;
$mid-grey: #b5b5b5;
$main-green: #38d89a;
$blue-light: #366ad7;
$light-grey-bcg: #f8f8f8;
$light-grey-border: #b5b5b5;
$soft-grey: #dadada;
$tomato: #ff4f4f;
$soft-blue: #a1b0cc;
$red: #fdefef;
$red-btn: #ff4f4f;
$orange: #ffb242;
